.main {
  display: flex;
  justify-content: center;
  padding: var(--page-padding);
  overflow-x: hidden;

  .left_container {
    height: 70vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media only screen and (min-width: 1280px) {
      padding-left: 8vw;
    }

    .chart {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 650px;
      min-height: 300px;
      margin-right: 15px;
    }

    // .coins {
    // }
  }

  .right_container {
    display: none;
    width: 35%;

    @media only screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  h2,
  h3 {
    margin-top: 10px;
    color: var(--details-main-color);
  }

  p {
    color: white;
  }
}
