.main {
  padding: 8rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);

  .labels {
    position: absolute;
    top: 3rem;
    width: 200px;
    display: flex;
    justify-content: center;
    border: 2px solid var(--details-secondary-color);
    border-radius: 1.2rem;
    overflow: hidden;

    .label {
      width: 50%;
      display: flex;
      justify-content: center;
      padding: 0.5rem;
      color: white;
      cursor: pointer;
    }

    .selected {
      background-color: var(--details-secondary-color);
    }
  }
}
