.main {
  .cart_container {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 320px;
    height: 450px;
    gap: 3rem;
    background-color: var(--bg-color);
    border-radius: 0.6rem;
    color: white;

    .timeout {
      border-top: 1px solid var(--details-main-color);
      border-bottom: 1px solid var(--details-main-color);
      width: 250px;
      height: 150px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      h3 {
        color: var(--details-main-color);
        font-size: 1.1rem;
      }
    }

    form {
      box-sizing: content-box;
      padding-bottom: 0.5rem;
      display: flex;
      align-items: center;
      border-bottom: 2px solid var(--details-main-color);

      input {
        width: 220px;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 1.6rem;
        color: white;
      }

      i {
        display: flex;
        font-size: 2rem;
      }
    }

    .cart_empty {
      color: white;
    }

    .change_wrapper {
      border: 0.5px solid rgba(211, 211, 211, 0.555);
      width: 80%;
      display: flex;
      flex-direction: column;
      height: 180px;

      .crypto {
        padding: 0.8rem;
        height: 50%;
        display: flex;
        align-items: center;
        gap: 1.8rem;

        .crypto_details {
          display: flex;
          gap: 0.5rem;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
          }
        }
      }

      .usd {
        border-top: 0.5px solid rgba(211, 211, 211, 0.555);
        padding: 0.8rem;
        height: 50%;
        display: flex;
        align-items: center;
        gap: 1.8rem;
      }
    }

    .change {
      border-top: 0.5px solid rgba(211, 211, 211, 0.555);
    }
  }
}

.btns {
  width: 80%;
  display: flex;
  gap: 1.2rem;

  button {
    border-radius: 1rem;
    border: none;
    width: 140px;
    padding: 0.6rem 0.1rem;
    color: black;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.1rem;
    background-color: var(--details-main-color);
    transition: all 0.35s ease-out;
  }
}

.disabled {
  opacity: 0.4;
}
