.main {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    min-width: 300px;
    height: 180px;
    color: white;
    cursor: pointer;

    @media only screen and (min-width: 1280px) {
      // position: absolute;
      // top: 300px;
    }

    .card_inner {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .card_front {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(45deg, #17001ca2, #6c38a0);
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem 1.5rem;
      border-radius: 15px;
      overflow: hidden;
      z-index: 100;

      .map_card {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.25;
        filter: grayscale(0.3);
        object-fit: contain;
        object-position: top;
        z-index: -1;
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 36px;
          height: 33px;
          object-fit: contain;
        }
        img:nth-child(2) {
          width: 48px;
          height: 100%;
        }
      }

      .card_number {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;

        p {
          font-size: 1.2rem;
          font-weight: bold;
          text-shadow: 1px 1px 1px black;
        }
      }

      .card_holder {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.8rem;

        p {
          font-size: 0.7rem;
          text-shadow: 1px 1px 1px black;
        }
      }

      .card_name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.78rem;

        p {
          font-size: 0.9rem;
          text-shadow: 1px 1px 1px black;
        }
      }
    }
  }
}
