@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --navbar-height: 10vh;
  --page-padding: 2rem 1rem;
  --bg-color: #131224;
  --box-color: #292641;
  --details-base-color: #5a5868;
  --details-main-color: #c0fb34;
  --details-secondary-color: #b375ef;
  --details-tertiary-color: #20d9e2;
  --details-quaternary-color: #dd41e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}
