@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --navbar-height: 10vh;
  --page-padding: 2rem 1rem;
  --bg-color: #201a28;
  --box-color: #2b2938;
  --details-main-color: #ea4b87;
  --details-secondary-color: #b375ef;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  background-color: var(--bg-color);
}
