.main {
  height: calc(90vh - (var(--navbar-height) + var(--header-height)));
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-y: scroll;

  @media only screen and (min-width: 768px) {
  }
  @media only screen and (min-width: 1280px) {
    height: calc(95vh - (var(--navbar-height)));
  }
}
