.main {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  gap: 1.2rem;
  height: calc(85vh - var(--navbar-height));

  .title {
    color: white;
  }

  .notfound {
    margin-top: 2rem;
    color: white;
    background-color: var(--box-color);
    width: 300px;
    height: 350px;
    align-self: center;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border-radius: 2rem;

    i {
      display: flex;
      font-size: 4rem;
      color: var(--details-main-color);
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h3 {
      color: var(--details-main-color);
    }
  }
}

@media only screen and (min-width: 768px) {
  .main {
    .notfound {
      margin-top: 3rem;
      width: 400px;
      height: 450px;
      gap: 3rem;
      align-items: center;
      border-radius: 2rem;

      i {
        font-size: 5rem;
      }
    }

    .text {
      p {
        font-size: 1.2rem;
      }

      h3 {
        color: var(--details-main-color);
        font-size: 1.4rem;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .main {
    height: calc(98vh - var(--navbar-height));

    .notfound {
      margin-top: 4rem;
      width: 450px;
      height: 500px;

      i {
        font-size: 6rem;
      }
    }

    .text {
      gap: 2rem;

      p {
        font-size: 1.4rem;
      }

      h3 {
        color: var(--details-main-color);
        font-size: 1.6rem;
      }
    }
  }
}
