.main {
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content:flex-start;
  display: flex;
  padding: var(--page-padding);
  height: calc(90vh - var(--navbar-height));

  overflow-y: scroll;

  @media only screen and (min-width: 1280px) {
  height: calc(100vh - var(--navbar-height));

  }
  
}
