.main {
  width: 100%;
  height: calc(90vh - var(--navbar-height));
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: var(--page-padding);
  overflow-x: hidden;

  @media only screen and (min-width: 1280px) {
    // height: calc(90vh - var(--navbar-height));
  }

  .right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    gap: 1rem;

    .balance {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1.8rem;
      }
    }

    @media only screen and (min-width: 1280px) {
      display: none;
    }
  }

  h2,
  h3 {
    margin-top: 10px;
    color: var(--details-main-color);
  }

  p {
    color: white;
  }

  .left_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    @media only screen and (min-width: 768px) {
      width: 100%;
      height: 100vh;
    }

    @media only screen and (min-width: 1280px) {
      height: 100vh;
      width: 100%;
    }

    // .coins {
    // }
  }
  .coins {
    width: 95%;
  }
}
