.main {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  gap: 3rem;

  .list {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  @media only screen and (min-width: 768px) {
    height: calc(88vh - var(--navbar-height));
    overflow-y: scroll;
  }

  @media only screen and (min-width: 1280px) {
    height: calc(90vh - var(--navbar-height));
    overflow-y: scroll;
  }

  /* .modal_container {
    position: absolute;
    top: -5px;
    width: 100%;
    justify-content: center;
    @media only screen and (min-width: 768px) {
      position: fixed;
      right: 30px;
      top: 100px;
      width: 300px;
      height: 75vh;
      max-height: 700px;
      display: flex;
    }
  } */
}
