.main {
  margin-top: 4.5rem;
  height: calc(90vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 3rem;
  overflow-y: hidden;

  .list {
    height: calc(75vh - var(--navbar-height)); /* diminuire */
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    overflow-y: scroll;

    @media only screen and (min-width: 768px) {
      margin-top: 1rem;
      height: calc(88vh - var(--navbar-height));
      overflow-y: scroll;
    }

    @media only screen and (min-width: 1280px) {
      height: calc(100vh - var(--navbar-height));
      margin-top: 1rem;
    }
  }

  @media only screen and (min-width: 768px) {
    height: calc(88vh - var(--navbar-height));
    overflow-y: scroll;
  }

  @media only screen and (min-width: 1280px) {
    height: calc(90vh - var(--navbar-height));
    overflow-y: scroll;
  }

  .modal_container {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: var(--bg-color);
    top: 0;
    z-index: 5;

    @media only screen and (min-width: 1280px) {
      width: 100%;
      height: 100vh;
      left: 0;
    }
  }
}
