/* .main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .change_btn {
    color: white;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    background-color: unset;
    transition: all 0.35s;
    cursor: pointer;

    &:hover {
      color: var(--details-secondary-color);
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    padding: 0.8rem;
    min-width: 260px;
    background-color: var(--bg-color);
    border: none;
    border-radius: 1.5rem;
    outline: none;
    color: white;

    &:focus {
      background-color: transparent;
      border: 1px solid #b375ef;
      color: white;
    }
  }
}

.btn {
  padding: 1rem 0;
  align-self: center;

  button {
    padding: 0.8rem 1.7rem;
    font-weight: 600;
    background-color: var(--details-secondary-color);
    color: white;
    border: none;
    border-radius: 1.6rem;
    cursor: pointer;
    transition: all 0.35s ease-out;
    font-size: 1.2rem;

    &:hover {
      box-shadow: 0 0 10px rgba($color: #b375ef, $alpha: 0.5);
    }
  }
}
 */
