.form {
  height: 476px;
  border-radius: 2rem;
  margin-top: 5rem;
  padding: 4rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  background-color: var(--box-color);

  .signup_message {
    color: var(--details-main-color);
    background-color: var(--bg-color);
    font-weight: 500;
    text-align: center;
    border-radius: 0.7rem;
    padding: 0.5rem;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      padding: 1rem;
      min-width: 260px;
      background-color: var(--bg-color);
      border: none;
      border-radius: 1.5rem;
      outline: none;
      color: white;

      &:focus {
        background-color: transparent;
        border: 1px solid var(--details-main-color);
        color: white;
      }
    }

    .error {
      padding-left: 0.6em;
      align-self: flex-start;
      display: flex;
      align-items: center;
      color: white;
      gap: 0.3rem;
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);

      p {
        font-size: 0.8rem;
      }

      i {
        display: flex;
      }
    }
  }

  .btn {
    padding: 1rem 0;

    button {
      padding: 0.6rem 1.3rem;
      font-weight: 600;
      background-color: var(--details-main-color);
      color: black;
      border: none;
      border-radius: 1.6rem;
      cursor: pointer;
      transition: all 0.35s ease-out;
      font-size: 1.1rem;

      &:hover {
        box-shadow: 0 0 10px rgba($color: #c0fb34, $alpha: 0.5);
      }
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media only screen and (min-width: 768px) {
  .form {
    width: 350px;
    margin-top: 6rem;
  }
}

@media only screen and (min-width: 1280px) {
  .form {
    width: 400px;
    margin-top: 6rem;
  }
}
