.main {
  width: 200px;
  height: 300px;
  cursor: pointer;
  position: relative;
  border-radius: 1rem;

  img {
    width: 210px;
    height: 310px;
    object-fit: cover;
    border-radius: 1rem;
  }

  .id {
    position: absolute;
    width: 120px;
    text-align: right;
    font-size: 1.4rem;
    background-color: #ffffffd5;
    border-radius: 0.4rem;
    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.6);
    bottom: 0;
    right: 0;
    color: var(--details-main-color);
    text-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.6);
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  p {
    text-transform: uppercase;
    z-index: 11;
    font-size: 0.9rem;
    color: black;
    font-weight: 600;
  }
}
