.main {
  width: 250px;
  height: 350px;

  img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }

  .details {
    h4,
    p {
      color: white;
    }
  }
}
