.main {
  align-items: center;
  color: white;
  padding: 5px 8px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .favorite_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.2rem;
  }
}
