
.main{
    background-color: rgb(68, 64, 64);
    border-radius: 12px;
    width: 40%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    gap: 20px;    
    img{
        width: 200px;
        color: --details-main-color;
    }


}