.main {
  background-color: rgb(68, 64, 64);
  border-radius: 12px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  gap: 20px;
  position: fixed;

  @media only screen and (min-width: 768px) {
    position: relative;
    height: 100%;
    width: 100%;
  }

  button {
    position: absolute;
    left: 25px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.25s;
    color: aliceblue;
    transition: all 0.35s;

    &:hover {
      color: #ea4b87;
    }
  }

  h3 {
    margin-top: 60px;
    color: aliceblue;
  }

  img {
    width: 200px;
    color: --details-main-color;
  }

  h2 {
    color: aliceblue;
  }
  span {
    color: #ea4b87;
  }
  .attributes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    width: 280px;
    margin-top: 30px;

    p {
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 5px;

      .trait {
        color: #ea4b87;
      }
      h4 {
        color: aliceblue;
      }
    }
  }
}
