.main {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  form {
    display: flex;
    gap: 1rem;
    width: 100%;
    border-bottom: 1.5px solid var(--details-main-color);
    padding: 0.5rem 0.2rem;

    input {
      flex-grow: 1;
      border: none;
      outline: none;
      background-color: transparent;
      color: white;
      font-size: 1rem;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      color: white;
      border: none;
      font-size: 1.3rem;
      cursor: pointer;
      color: lightgray;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main {
    form {
      padding: 0.8rem 0.5rem;

      input {
        font-size: 1.2rem;
      }

      button {
        font-size: 1.6rem;
      }
    }
  }
}
