.main {
  display: flex;
  padding: 1rem;
  height: 70px;
  justify-content: space-between;
  align-items: center;

  color: white;

  .name_date {
    display: none;
    h2 {
      color: var(--details-main-color);
    }
    @media only screen and (min-width: 1280px) {
      display: block;
    }
  }

  .auth_data {
    display: flex;
    align-items: center;
    gap: 2rem;

    button {
      border: none;
      border-radius: 0.6rem;
      height: 30px;
      padding: 0 10px;
      font-weight: 500;
      background-color: var(--details-main-color);
      color: black;
      letter-spacing: 0.1rem;
      cursor: pointer;
      transition: all 0.35s ease-out;

      &:hover {
        box-shadow: 0 0 10px rgba($color: #b375ef, $alpha: 0.5);
      }
    }

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
