.main {
  display: flex;
  width: 100%;
  height: var(--navbar-height);
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 1.5rem 1.3rem;
  background: linear-gradient(
    360deg,
    rgba(32, 26, 40, 1) 0%,
    rgba(37, 35, 50, 1) 49%,
    rgba(48, 46, 64, 1) 100%
  );
  z-index: 999;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;

  @media only screen and (min-width: 1280px) {
    position: relative;
    flex-direction: column;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    justify-content: center;
    gap: 3rem;
    background: linear-gradient(
      90deg,
      rgba(32, 26, 40, 1) 0%,
      rgba(37, 35, 50, 1) 49%,
      rgba(48, 46, 64, 1) 100%
    );
  }

  .nav_label {
    display: none;
    font-size: 1rem;
    font-weight: 600;

    @media only screen and (min-width: 1280px) {
      display: block;
      width: 88%;
      color: rgba(165, 165, 165, 0.74);
    }
  }

  a {
    color: black;
    text-decoration: none;
    width: 70px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.35s ease-out;

    &:hover {
      background-color: #2f3228;
      border-radius: 30px;
    }

    @media only screen and (min-width: 1280px) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.5rem;
      width: 100%;
      padding-left: 0.5rem;
      border-radius: 30px;
      transition: all 0.15s ease-out;

      &:hover {
        background-color: #2f3228;
      }
    }
  }

  .icon {
    @media only screen and (min-width: 1280px) {
      width: 12%;
    }
  }

  .icon_big {
    svg {
      font-size: 3.2rem;

      border-radius: 30px;

      @media only screen and (min-width: 1280px) {
        font-size: 2.5rem;
      }
    }
  }

  svg {
    color: rgba(165, 165, 165, 0.74);
    font-size: 1.65rem;

    @media only screen and (min-width: 1280px) {
      font-size: 2rem;
    }
  }
}

.icon_active {
  background-color: #2f3228;
  border-radius: 30px;
  transition: all 0.15s ease-out;

  svg {
    color: var(--details-main-color);
    animation: jello-horizontal 0.5s both;
  }

  .nav_label {
    color: var(--details-main-color);
  }
}

/* ANIMATION */
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.15, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.15, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
