.main {
  display: flex;
  width: 100%;
  height: var(--navbar-height);
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  gap: 2rem;
  padding: 1.5rem 1.3rem;
  background: linear-gradient(
    360deg,
    rgba(32, 26, 40, 1) 0%,
    rgba(37, 35, 50, 1) 49%,
    rgba(48, 46, 64, 1) 100%
  );
  z-index: 999;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;

  a {
    color: black;
    text-decoration: none;
  }

  .icon {
    font-size: 1.5rem;
    display: flex;
    color: var(--details-main-color);
    cursor: pointer;
  }

  .icon_active {
    font-size: 1.7rem;
  }
}
