.main {
  width: 100%;
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  background: linear-gradient(
    180deg,
    rgba(56, 54, 78, 1) 0%,
    rgba(64, 61, 91, 1) 52%,
    rgba(56, 54, 78, 1) 100%
  );
  color: white;

  .icon_wrapper {
    display: flex;
    align-items: center;
    width: 35%;
    gap: 1rem;

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }

  .coin_name {
    width: 140px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .name {
      color: white;
      font-size: 0.85rem;
    }

    .symbol {
      font-size: 0.9rem;
      color: rgba(165, 165, 165, 0.74);
      text-transform: uppercase;
    }
  }

  .price {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 0.8rem;
      text-align: center;
    }

    @media only screen and (min-width: 768px) {
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;

      p {
        font-size: 1rem;
        letter-spacing: 0.0625rem;
      }

      div {
        display: flex;
        align-items: center;
        width: 50%;
      }
    }

    .price_up {
      color: #02da26;
    }

    .price_down {
      color: #fb3835;
    }
  }

  .button_wrapper {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    button {
      padding: 0.5rem 1.2rem;
      border: none;
      border-radius: 1rem;
      font-weight: 600;
      background-color: var(--details-main-color);
      color: white;
      letter-spacing: 0.1rem;
      cursor: pointer;
      transition: all 0.35s ease-out;

      &:hover {
        box-shadow: 0 0 10px rgba($color: #ea4b87, $alpha: 0.5);
      }
    }
  }

  i {
    display: flex;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
