.main {
  width: 100%;
  max-height: 77px;
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  background-color: var(--box-color);
  color: white;

  .icon_wrapper {
    display: flex;
    align-items: center;
    width: 35%;
    gap: 1rem;

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }

    .coin_name {
      width: 140px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.3rem;

      .name {
        color: white;
        font-size: 0.85rem;
        display: none;

        @media only screen and (min-width: 768px) {
          display: block;
        }
      }

      .symbol {
        font-size: 0.9rem;
        color: white;
        text-transform: uppercase;
        @media only screen and (min-width: 768px) {
          color: rgba(165, 165, 165, 0.74);
        }
      }
    }
  }

  .price {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.2rem;

    p {
      font-size: 0.8rem;
      text-align: center;
    }

    @media only screen and (min-width: 768px) {
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;

      p {
        font-size: 1rem;
        letter-spacing: 0.0625rem;
      }

      div {
        display: flex;
        align-items: center;
        width: 50%;
      }
    }

    .price_up {
      color: #02da26;
    }

    .price_down {
      color: #fb3835;
    }
  }

  .button_wrapper {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    button {
      padding: 0.4rem 1rem;
      border: none;
      border-radius: 0.6rem;
      font-weight: 600;
      width: 75px;
      font-size: 0.65rem;
      background-color: var(--details-main-color);
      color: black;
      letter-spacing: 0.1rem;
      cursor: pointer;
      transition: all 0.35s ease-out;

      &:hover {
        box-shadow: 0 0 10px rgba($color: #ea4b87, $alpha: 0.5);
      }

      @media only screen and (min-width: 768px) {
        padding: 0.4rem 1rem;
        border: none;
        font-weight: 600;
        background-color: var(--details-main-color);
        color: black;
        letter-spacing: 0.1rem;
        cursor: pointer;
        transition: all 0.35s ease-out;

        &:hover {
          box-shadow: 0 0 10px rgba($color: #ea4b87, $alpha: 0.5);
        }
      }
    }
  }

  i {
    display: flex;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
