.main {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--box-color);
  border-radius: 1rem;

  .user_data {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--details-base-color);

    img {
      border-radius: 50%;
      width: 140px;
      height: 140px;
    }

    .user_name {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.3125rem;

      h3 {
        font-size: 1rem;
      }
      p {
        font-size: 0.8rem;
        color: rgb(175, 175, 175);
      }
    }
  }

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    gap: 2rem;
    h2 {
      font-weight: 500;
      font-size: 1.2rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  }
}
