.main {
  min-width: 160px;
  height: 240px;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--box-color);
  color: white;
  cursor: pointer;

  @media only screen and (min-width: 768px) {
    width: 100%;
    height: 77px;
    display: flex;
    flex-direction: row;
  }

  @media only screen and (min-width: 1280px) {
    width: 100%;
    height: 77px;
    display: flex;
    flex-direction: row;
  }

  @media only screen and (min-width: 768px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media only screen and (min-width: 1280px) {
  }

  .icon_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    width: 100%;

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }

    @media only screen and (min-width: 768px) {
      padding-left: 1rem;
      width: 40%;
      gap: 1rem;
      flex-direction: row;
      justify-content: flex-start;
    }

    @media only screen and (min-width: 1280px) {
      padding-left: 1rem;
      width: 35%;
      gap: 0.7rem;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .coin_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;

    @media only screen and (min-width: 768px) {
      align-items: flex-start;
    }

    @media only screen and (min-width: 1280px) {
      align-items: flex-start;
    }

    .symbol {
      font-size: 0.9rem;
      color: white;
      text-transform: uppercase;
    }
  }

  .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media only screen and (min-width: 1280px) {
      flex-direction: row;
      justify-content: space-between;
    }

    p {
      font-size: 0.8rem;
      text-align: center;

      @media only screen and (min-width: 768px) {
        font-size: 1rem;
      }

      @media only screen and (min-width: 1280px) {
        font-size: 1rem;
      }
    }

    .current_price {
      display: none;
    }

    .price_change {
      @media only screen and (min-width: 768px) {
        width: 20vw;
        text-align: left;
      }

      @media only screen and (min-width: 1280px) {
        width: 150px;
        text-align: left;
      }
    }
    .price_up {
      color: #02da26;
    }

    .price_down {
      color: #fb3835;
    }

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }

    @media only screen and (min-width: 1280px) {
      flex-direction: row;
    }
  }

  .owned {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 250px;

      p {
        display: flex;
        gap: 0.3rem;
      }
    }

    @media only screen and (min-width: 1280px) {
      width: 250px;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      p {
        display: flex;

        gap: 0.3rem;
      }
    }
  }
}
