.main {
  min-width: 150px;
  height: 200px;
  padding: 1rem 0;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  background-color: var(--box-color);
  color: white;

  @media only screen and (min-width: 1280px) {
    width: 100%;
    height: 77px;
  }

  a {
    @media only screen and (min-width: 1280px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .icon_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
      @media only screen and (min-width: 1280px) {
        padding-left: 1rem;
        width: 35%;
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    .coin_name {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.3rem;

      @media only screen and (min-width: 1280px) {
        align-items: flex-start;
      }
      .name {
        color: white;
        font-size: 0.85rem;
      }

      .symbol {
        font-size: 0.9rem;
        color: var(--details-main-color);
        text-transform: uppercase;
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 100%;

      @media only screen and (min-width: 1280px) {
        flex-direction: row;
        justify-content: space-between;
      }

      p {
        font-size: 0.8rem;
        text-align: center;

        @media only screen and (min-width: 1280px) {
          font-size: 1rem;
        }
      }

      .current_price {
        display: none;
      }

      .price_change {
        @media only screen and (min-width: 1280px) {
          width: 150px;
          text-align: left;
        }
      }
      .price_up {
        color: #02da26;
      }

      .price_down {
        color: #fb3835;
      }

      @media only screen and (min-width: 1280px) {
        flex-direction: row;
      }
    }

    .owned {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media only screen and (min-width: 1280px) {
        width: 250px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        p {
          display: flex;

          gap: 0.3rem;
        }
      }
    }
  }

  //   @media only screen and (min-width: 1280px) {
  //     width: 300px;
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: center;
  //     gap: 3rem;

  //     p {
  //       font-size: 1rem;
  //       letter-spacing: 0.0625rem;
  //     }

  //     div {
  //       display: flex;
  //       align-items: center;
  //       width: 50%;
  //     }
  //   }

  //   .price_up {
  //     color: #02da26;
  //   }

  //   .price_down {
  //     color: #fb3835;
  //   }
  // }

  // .button_wrapper {
  //   width: 25%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-wrap: wrap;
  //   gap: 0.5rem;

  //   button {
  //     padding: 0.4rem 1rem;
  //     border: none;
  //     border-radius: 1rem;
  //     font-weight: 600;
  //     background-color: var(--details-main-color);
  //     color: white;
  //     letter-spacing: 0.1rem;
  //     cursor: pointer;
  //     transition: all 0.35s ease-out;

  //     &:hover {
  //       box-shadow: 0 0 10px rgba($color: #ea4b87, $alpha: 0.5);
  //     }
  //   }
  // }

  // i {
  //   display: flex;
  //   font-size: 1.4rem;
  //   cursor: pointer;
  // }
}
