.main {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--box-color);
  border-radius: 0.5rem;
  padding: 1rem;

  .balance {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;

    h2 {
      color: white;
    }

    h3 {
      color: var(--details-main-color);
    }
  }
}

.variant_desktop {
  background-color: var(--bg-color);
}
