.main {
  padding: var(--page-padding);

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: white;
  }

  .coin_row {
    width: 100%;
    padding: 1rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
      180deg,
      rgba(56, 54, 78, 1) 0%,
      rgba(64, 61, 91, 1) 52%,
      rgba(56, 54, 78, 1) 100%
    );

    .icon_wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }

    .coin_name {
      width: 140px;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      .name {
        color: white;
        font-size: 1rem;
      }

      p {
        font-size: 0.9rem;
        color: rgba(165, 165, 165, 0.74);
      }
    }

    .price {
      width: 70px;
      text-align: right;
    }
  }
}
